<h1>Fuel Supply Logistics</h1>

<div class="row g-4 g-lg-5">
  <div class="col-lg-4 position-relative">
     <img src="/thumbnails/fuel-supply-logistics-terminal.jpg" class="img-fluid" alt="Fuel Supply Logistics Terminal">
  </div>
  <div class="col-lg-4 position-relative">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit saepe harum laborum voluptas omnis tenetur maxime neque accusamus error! Aut, inventore nam! Rem atque nostrum eveniet ad nisi? Maiores?
  </div>
</div>

