<div class="heading">
  <h1>Fuel Supply Logistics</h1>
</div>

<div class="row">
  <div class="col-lg-6 position-relative">
    <p class="fs-4">Fuel Supply Logistics provides a quick and valuable look into the fuel terminals and logistics infrastructure in the United States.</p>
    <p class="fs-4">The site includes tens of thousands of pieces of data on over 2,000 terminals and other fuel distribution facilities across the country. All of this fuel logistics data has been wrangled and compiled into easy-to-use map and search tools. Giving you easy access to the fuel-terminal information you need.</p>
    <p class="fs-4">While we've done our best to gather this data from accurate sources, we ask for your help in keeping it updated and correcting any innacuracies you come across.</p>
  </div>
  <div class="col-lg-6 position-relative">
    <img src="/thumbnails/fuel-supply-logistics-terminal.jpg" class="img-fluid rounded" alt="Fuel Supply Logistics Terminal">
  </div>
</div>


<style>
  .heading{
    text-align: center;
    padding-bottom: 25px;
  }
  .row{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
  }

</style>
